.about-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-content{
    width: 80%;
    margin-top: 112px;
}

.about-content p{
    margin-bottom: 30px;
}

.about-content h1{
    margin-bottom: 15px;
}