.container{
    /*blues*/
    background: #34675C;
    background: #4cb5f5;
    background: #375e97;
    background: #324851;
    /*greens*/
    background: #b3c100;
    background: #86ac41;
    background: #a2c523;
    /*darks*/
    background: #2a3132;
    background: #b024ef;
    /*whites*/
    background: #f1f3ce;
}

.img2save-white{
    background: #f1f1f2;
    background: #bcbabe;
    background: #a1d6e2;
    background: #1995ad;
}