.categories-container{
    padding: 0 0;
}

.categories-parrafos{
    display: flex;
    align-items: center;
}

.categories-parrafos p{
    margin-left: 23px;
    cursor: pointer;
    padding: 5px 0;
}

@media screen and (min-width: 1000px){
    .categories-parrafos{
        justify-content: center;
    }
}