.individualPhoto-container{
    padding: 10px;
    position: relative;
}


.individualPhoto-container .button-download{
    margin-top: 15px;
    margin-right: 15px;
}

/* .individualPhoto-container img{
    width: 100%;
} */

.overlay-image-modal{
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: 400;
}

/* descripcion, boton para descargar y creditos de la foto  */
.description-modal{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 200px;
    height: 16px;
    overflow: hidden;
    color: white;
    background: #3a3a3a94;
    border-radius: 10px;
    font-family: monospace;
}

.day{
    background: #b024ef;
}
.day:hover{
    background: #670e90;
}

.night{
    background: #17c7eb;
}
.night:hover{
    background: #098faa;
}