.search-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.default-categories-search-container{
    width: 100%;
    margin-top: 70px;
    overflow-x: auto;
}

        .default-categories-search-container::-webkit-scrollbar {
            height: 9px;
        }

        .default-categories-search-container::-webkit-scrollbar-track {
            background: #f1f1f2;
        }

        .default-categories-search-container::-webkit-scrollbar-thumb {
            background: rgb(117, 117, 255); 
            border-radius: 10px;
        }

.background-container-search{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
